<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hestabit_Slider::slider" title="Slider" module="Hestabit_Slider" sortOrder="51" resource="Hestabit_Slider::slider"/>
        <add id="Hestabit_Slider::slide" title="Manage Slide" module="Hestabit_Slider" sortOrder="10" action="hestabit_slider/slide/index" resource="Hestabit_Slider::slide" parent="Hestabit_Slider::slider"/>
        <add id="Hestabit_Slider::slider_configuration" title="Configuration" module="Hestabit_Slider" sortOrder="99" parent="Hestabit_Slider::slider" action="adminhtml/system_config/edit/section/slider" resource="Hestabit_Slider::slider_configuration"/>
    </menu>
</config>
